* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#sidebar {
  position: absolute;
  z-index: 8;
  display: inline-block;
  width: 23%;
  float: left;
  background-color: #336633;
  height: 100vh;
}

#sidebar .main-photo {
  display: block;
  margin: 60px auto 0 auto;
  max-width: 61%;
  background-color: #dbe0d8;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.sidebar-text {
  margin: 60px auto;
  max-width: 75%;
}

#sidebar-header {
  color: #e7e5ce;
}

#sidebar-header h1{
  font-family: Palatino;
  font-weight: lighter;
  font-size: 28px;
}

#sidebar-header h2{
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 5px;
}

#sidebar-header p {
  font-size: 14px;
  font-family: Helvetica;
  margin-bottom: 20px;
}

#hide-side-bar {
  position: absolute;
  width: 100px;
}

#hide-side-bar img {
  margin-bottom: 130px;
  margin-top: 10px;
  width: 70px;
}

#contacts i img{
  color: #e7e5ce;
  width: 30px;
}

#contacts .contact {
  margin-bottom: 30px;
}

#contacts p {
  color: #e7e5ce;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  transform: translateY(5px);
}

.slide-left {
  transition: 1s !important;
  width: 100% !important;
  left: 0 !important;
}

.main {
  position: absolute;
  z-index: 9;
  left: 23%;
  transition: 1s;
  background: #fff;
  display: inline-block;
  width: 77%;
  margin: auto;
  text-align: center;
  /*background-color: #3399cc;*/
  height: 100vh;
  box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.75);
}

#icons-resume{
  position: absolute;
  z-index: 11;
  transform: translateY(-50%);
  top: 50%;
  width: 100px;
}

#icons-resume div{
  margin-bottom: 100px;
}

#icons-resume img{
  height: 70px;
}

#icons-resume .icon-education{
  margin-bottom: 0;
}

#header {
  margin-bottom: 30px;
}

#main #menu {
  display: none;
  margin: auto;
  background-color: #fdffff;
  height: 38px;
  position: relative;
  box-shadow: 0px 10px 29px 3px rgba(0,0,0,0.30);
}

#main #menu li {
  display: inline-block;
  font-family: Palatino;
  font-size: 18px;
  text-transform: uppercase;
  height: 38px;
  padding: 10px 0;
}

.main-content {
  min-height: 54.75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 70%;
  margin: auto;
}

#content-info {
  color: #e7e5ce;
  height: 370px;
  margin: auto;
  display: none;
  background-color: #3399cc;
  box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.30);
}

#content-info h4:first-child{
  margin-top:0;
}

#dropdown {
  width: inherit;
  position: absolute;
  top: 38px;
  background: #fdffff;
  box-shadow: 0px 10px 25px 5px rgba(0,0,0,0.30);
}

#dropdown li.dropdown-item {
  display: block !important;
  text-transform: none !important;
  margin: 10px auto;
}

.animation {
  position: absolute;
  z-index: 9;
  height: 1px;
  width: 38px;
  display: hidden;
  background-color: #4e2e69;
}
